* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    background-color: cornflowerblue;
}

.recipe {
    font-size: large;
    text-align: center;
    font-size: 28px;
}
